* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: Montserrat;
}