* {
    box-sizing: border-box;
    font-family:"Montserrat";
}

@font-face {
    font-family: "Montserrat";
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

body {
    margin: 0;
    min-height: 100vh;
    padding: 0;
    font-family: Montserrat;
}