main{
    padding: 40px 50px;
    width: 100%;
    min-height: 100vh;
    background-color: #E6E9ED;
}

.header-container{

    h1{
        margin: 0;
        font-size: 23px;
        max-width: 350px;
        font-weight: 800;
    }
}


.upload-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 30px 0;
    flex-wrap: wrap;

    .search{
        width: 100%;
        max-width: 500px;
    }
}

