.upload-item{
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;

    .upload-item-column{
        width: 20%;
        display: flex;
        justify-content: left;
        padding-left: 0;
        align-items: center;
        
        .link{
            padding: 0;
            text-decoration: none;
            display: flex;
        }
    }
}

.file-column{
    padding-left: 90px;
}

.uploaded-at-column{
    padding-left: 100px;
}

.file-statistics-column{
    padding-left: 100px;
}

.status-column{
    padding-left: 140px;
}

.link-column{
    padding-left: 140px;
}