.upload-item{
    background-color: white;
    padding: 30px 30px;
    border-radius: 10px;
    display: flex;

    .upload-item-column{
        width: 25%;
        display: flex;
        justify-content: left;
        padding-left: 0;
        align-items: center;
        
        .link{
            padding: 0;
            text-decoration: none;
            display: flex;
        }
    }
}
