.upload-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.394);
    display: flex;
    justify-content: end;

    .upload-modal{
        height: 100%;
        width: 600px;
        background-color: white;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 60px 60px;
        gap: 70px;
        align-items: center;

        .modal-header{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            align-items: flex-start;
            h2{
                margin: 0;
            }

            .button-close{
                background-color: white;
                border: 0;
                padding: 0;
                cursor: pointer;

            }
        }

        .file-area-container{
            display: flex;
            flex-direction: column;
            gap:30px;
            align-items: center;

            .checkbox-label{
                display: flex;
                justify-content: start;
                align-items: center;
                white-space: nowrap;
                gap: 10px;
                margin-top: -10px;

                input{
                    max-width: 20px;
                }
                
            }
        }


    }
}
